// Extra low screenheight
$maxh345: 345px;

// Low screen height
$maxh480: 480px;

// Medium screen height
$maxh767: 767px;

// Smallest Screens
$min375: 375px;

//  Bonus Small screens
$min425: 425px;

// Small tablets and large smartphones (landscape view)
$min576: 576px;

// Small tablets (portrait view)
$min768: 768px;

// Tablets and small desktops
$min992: 992px;

// Large tablets and desktops
$min1200: 1200px;

// Extra Large tablets and desktops
$min1440: 1440px;