.fbx-light .fbx-inner, .fbx-light.fbx-inset-buttons:not(.fbx-fullscreen-mode) .fbx-next .fbx-icon, .fbx-light.fbx-inset-buttons:not(.fbx-fullscreen-mode) .fbx-prev .fbx-icon, .fbx-light.fbx-modal, .fbx-modal.fbx-light.fbx-phone .fbx-close:hover, .fbx-modal.fbx-light.fbx-phone .fbx-fullscreen-toggle:hover, .fbx-modal.fbx-light.fbx-phone .fbx-next:hover, .fbx-modal.fbx-light.fbx-phone .fbx-pause:hover, .fbx-modal.fbx-light.fbx-phone .fbx-play:hover, .fbx-modal.fbx-light.fbx-phone .fbx-prev:hover, .fbx-modal.fbx-light.fbx-phone .fbx-social-toggle:hover, .fbx-rounded.fbx-light .fbx-close, .fbx-rounded.fbx-light .fbx-fullscreen-toggle, .fbx-rounded.fbx-light .fbx-pause, .fbx-rounded.fbx-light .fbx-play, .fbx-rounded.fbx-light .fbx-social-toggle {
    border-color: yellow;
}

.fbx-light .fbx-close, .fbx-light .fbx-fullscreen-toggle, .fbx-light .fbx-inner, .fbx-light .fbx-loader, .fbx-light .fbx-next, .fbx-light .fbx-pause, .fbx-light .fbx-play, .fbx-light .fbx-prev, .fbx-light .fbx-social-toggle, .fbx-light.fbx-inset-buttons.fbx-phone:not(.fbx-fullscreen-mode) .fbx-next, .fbx-light.fbx-inset-buttons.fbx-phone:not(.fbx-fullscreen-mode) .fbx-prev, .fbx-light.fbx-inset-buttons:not(.fbx-fullscreen-mode) .fbx-next .fbx-icon, .fbx-light.fbx-inset-buttons:not(.fbx-fullscreen-mode) .fbx-prev .fbx-icon {
    background-color: #0d66c2;
    border: 3px solid yellow;
}

.fbx-rounded.fbx-desktop .fbx-next {
    right: -36px;
}

.fbx-rounded.fbx-desktop .fbx-prev {
    left: -36px;
}

.fbx-light .fbx-close, .fbx-light .fbx-error-msg, .fbx-light .fbx-fullscreen-toggle, .fbx-light .fbx-loader, .fbx-light .fbx-next, .fbx-light .fbx-pause, .fbx-light .fbx-play, .fbx-light .fbx-prev, .fbx-light .fbx-social-toggle, .fbx-metro.fbx-light .fbx-count, .fbx-metro.fbx-light .fbx-credit a {
    color: #fff!important;
}